*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

body{
    /* background-image: url(images/bsbs.jpeg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}


.container{
    background-color: #11268400;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
   max-width:  60%;
   margin: 50px 50px 50px ;
   float: left;
   color: rgba(255, 255, 255, 0.627);
}

#forms{
width: 70%;


}

.form-control{
    
    border: 0ch;
    background-color: #ffffff8f;
}


#botton{
  width:  100%;
   
}

 #btn{

 text-decoration: none;
 }


@media screen and (min-width: 480px) and ( max-width: 768px) {

    #forms{
        width: 100%;
        
        }
}
         


@media screen and (min-width: 0px) and ( max-width: 480px) {


.container{
    width: 100%;
    float: none;
}

}